<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil Quiz</ion-title>
    <ion-buttons slot="start"> <!--groupement de boutons en début (start) ou fin (end) de toolbar-->
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="jumbotron">
    <ion-card padding>
      <ion-img src="https://picsum.photos/800/300"></ion-img>
      <h2 text-center> Quiz </h2>
      <p class="text-secondary" text-justify>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

      <p> Au dernier essai vous avez obtenu : {{lastQuiz}} / 10</p>
    </ion-card>

    <p> <ion-button (click)="nextPage()">Accéder au Quiz</ion-button></p>
    <!--<p><ion-button (click)="test()">Go</ion-button> </p>-->
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <p text-center>Ingrid MARTYR-FALE © 2019</p>
  </ion-toolbar>
</ion-footer>
