<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Code de la route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="jumbotron">
    <h4 text-center> Bienvenue sur notre application mobile du Code de la route</h4><br>
    <p class="text-secondary" text-justify>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card href="liste-categorie" class="activated cardHeight" text-center padding color="danger">
              <ion-icon name="list" slot="start"></ion-icon><br>
              <ion-label>Afficher les catégories </ion-label>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card href="liste-panneaux" text-center padding color="danger" class="cardHeight">
              <ion-icon name="grid" slot="start"></ion-icon><br>
              <ion-label>Afficher tous les panneaux</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card href="#" text-center padding color="danger" class="activated cardHeight" >
              <ion-icon name="settings" slot="start"></ion-icon><br>
              <ion-label>Paramètres de l'application</ion-label>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card href="quiz-home" text-center padding color="danger" class="activated cardHeight">
            <ion-icon name="barcode" slot="start"></ion-icon><br>
            <ion-label>Passer le quiz</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card href="#" text-center padding color="danger" class="activated cardHeight">
            <ion-icon name="thumbs-up" slot="start"></ion-icon><br>
            <ion-label>Notez notre application.</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p text-center>Ingrid MARTYR-FALE © 2019</p>
  </ion-toolbar>
</ion-footer>
